/* Estilos para os cabeçalhos */
h1, h3 {
    text-align: center;
}

/* Estilos para o corpo da página */
body {
    background-color: rgb(255, 255, 255);
}

/* Estilos para os links laterais */
.linklateral, li {
    position: relative;
    text-align: left;
    margin-top: 100px;
    margin: 0;
    list-style-type: none;
    top: 150px;
    font-size: large;
    width: 100%;
    padding-top: 9px;
    padding-bottom: 9px;
}

/* Estilos para o texto de cadastro */
#textoCad {
    width: 90%;
    padding: 3px;
    margin-top: 3px;
    display: inline-block;
    padding-left: 10px;
    margin-left: 0;
    margin-right: 5px;
}

/* Estilos para a lateral */
#lateral {
    float: left;
    width: 350px;
    background-image: url(Imagem/teste.png);
    background-size: cover;
    height: 1200px;
}

/* Estilos para a seção principal */
#principal {
    float: right;
    width: 72%;
    background-color: whitesmoke;
    height: 1200px;
}

/* Estilos para os links dentro de .linklateral */
.linklateral a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    height: 5px;
}

.linklateral a:visited {
    color: rgba(255, 255, 255, 0.747);
}

.linklateral a:hover {
    color: rgb(255, 0, 0);
}

.linklateral a:active {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

/* Estilos para os botões */
#botaoaluno, #botaolivros, #botaocadastro {
    text-align: center;
    width: 130px;
    height: 50px;
    margin-left: 40%;
}

#botaoaluno {
    margin-left: auto;
}

#botaocadastro {
    margin-top: 20px;
    width: 160px;
    height: 60px;
    align-items: center;
}

/* Estilos para o modal */
#modal, #modalLivrosDisponiveis {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

#modal-content, #modal-livros-content {
    background-color: white;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    height: 50%;
    overflow: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    animation-name: animatetop;
    animation-duration: 0.4s;
    z-index: 2;
}

/* Estilos para o conteúdo do modal */
.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
}

/* Estilos para modais específicos */
#modalEmprestimo, #modalDevolucao, #modalLivros {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 400px;
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilos para a lista de resultados */
#resultadoAluno {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#resultadoAluno li {
    margin-bottom: 1px;
    padding: 1px;
    cursor: pointer;
}

/* Estilos para o modal de informações do livro */
#modalInformacoesLivro {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
}

#modalInformacoesLivro .modal-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    width: 60%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
}

#modalInformacoesLivro .close-btn {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    font-weight: bold;
}

#modalInformacoesLivro .modal-content p {
    margin: 10px 0;
}

#modalInformacoesLivro .modal-content ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#modalInformacoesLivro .modal-content ul li {
    padding: 5px 0;
}

/* Estilos para parágrafos */
#paragrafoLivros {
    margin-top: 10px;
}

#paragrafoLivros ul {
    position: none;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#paragrafoLivros li {
    margin-bottom: 5px;
}

/* Estilos para o botão fechar do modal */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
flag